body {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
#header {
  font-weight: 700;
  background: #2791F5;
  color: white;
}
@keyframes fade-in {
  from {
    opacity: 0%;
    transform: translateX(-800px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}
#position {
  position: absolute;
  top: 50px;
  left: 500px;
  width: 500px;
  height: 800px;
  background-color: lightblue;
  border-style: solid;
  border-color: blue;
  border-radius: 10px;
  
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}
